
/* flipper start */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
	margin: 5px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 200px;
	height: 300px;
}

@media only screen and (max-width: 600px){
	.flip-container, .front, .back {
		width: 150px;
		height: 225px;
	}

	.flip-container:hover .flipper {
		transform: rotate(0);
	}

	.flip-container.hover .flipper{
		transform: rotateY(180deg);
	}
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
/*flipper end*/

img{
    width: 100%;
    height: 100%;

    border-radius: 5px;
}

.back{
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* align-items: center; */
}

h3{
	text-align: center;
}

span{
	font-size: 12px;
	text-align: center;
}